
.leafbuilder-container {
  position: relative;
  cursor: text;
}

.leafbuilder-container.hovered:after {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -3px;
  padding: 2px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.5;
  border: 1px solid rgb(255, 127, 19);
  border-radius: 3px;
}

.leafbuilder-container.editing .layer-menu {
  display: block;
}

.leafbuilder-container.editing:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 1;
  border: 1px solid rgb(255, 127, 19);
  border-radius: 3px;
}

.ghost {
  display: inline-block;
}

.leafbuilder-container .leaf-layer {
  outline: none;
}

.leafbuilder-container .leaf-layer:empty {
  min-width: 50px;
  min-height: 20px;
  background-color: rgb(203, 203, 203);
  display: table;
  text-align: center;
}

.leafbuilder-container .leaf-layer:empty:after {
  content: "empty";
  font-size: 12px;
  font-family: "Helvetica";
  font-style: italic;
  color: rgb(102, 102, 102);
  display: table-cell;
  vertical-align: middle;
}

.layer-menu {
  display: none;
  position: absolute;
  left: calc(100% + 4px);
  top: 0;
  margin-left: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.layer-menu li {
  width: 20px;
  height: 20px;
  background-color: red;
}

.medium-editor-placeholder {
  min-width: 50px;
  min-height: 20px;
}

.picker-anchor {
  background-color: #C1D9F0;
  outline: none;
}
