.toolbox {
  position: absolute;
  z-index: 100;
  width: 500px;
}

.toolbox-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toolbox-options li {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  background-color: rgb(143, 146, 192);
  border-right: 1px solid rgb(140, 142, 176);
  box-sizing: border-box;
  color: white;
  font-size: 24px;
}

.toolbox-drawer {
  display: none;
  position: absolute;
  top: 0px;
  left: 30px;
  background-color: #37496B;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  color: white;
  font-size: 12px;
}
